<h2><%= t('devise.confirmations.reset_confirmation') %></h2>
<div class="col-md-8">
  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: {method: :post}) do |f| %>
      <%= devise_error_messages! %>
      <div class="col-md-8">
        <div class="form-group">
          <%= f.label :email, 'Email' %>
          <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: "Email" %>
        </div>
      </div>
      <div class="col-md-8">
        <div class="actions">
          <%= f.submit t('devise.confirmations.reset_confirmation'), class: 'btn btn-success' %>
        </div>
        <%= render "devise/shared/links" %>
      </div>
  <% end %>
</div>

