<p><h2><%= @route.name %></h2></p>
<p>
  <br>
  <%= render 'trains' %>
  <br>
  <%= render 'stations' %>

</p>

<%= link_to 'Изменить', edit_admin_route_path(@route), class: 'btn btn-warning' %> |
<%= link_to 'Назад', admin_routes_path, class: 'btn-sm btn-default' %>