<p id="notice"><%= notice %></p>

<p>
  <strong>Номер:</strong>
  <%= @train.number %>
</p>
<p>
  <strong>Текущая станция:</strong>
  <%= @train.current_station.present? ? @train.current_station.name : 'Станция не назначена' %>
</p>
<p>
  <strong>На маршруте:</strong>
  <% if @train.route.present? %>
      <%= @train.route.name %>
  <% else %>
      Не указано
  <% end %>
</p>
<div class="row">
  <div class="col-md-8">
    <p>
      <% if @train.carriages.empty? %>
          У поезда нет вагонов
      <% else %>
          <% @train.carriages.ordered(@train.carriage_order).each do |carriage| %>
            <li><%= link_to carriage.number.to_s, carriage%></li>
            <% end %>
        <% end %>
    </p>
  </div>
</div>

<p>
  <strong>Кол-во мест:</strong>
  <%= @train.carriages.sum(:total_seats) %>
</p>

<p>
  <strong>Пример запроса конкретных данных чере AR Query Interface:</strong>
  Количество мест в сидячих вагонах:
  <%= @train.calculate_seats('CoachCarriage', :seats) %>
</p>


<%= link_to 'Изменить', edit_train_path(@train), class: 'btn btn-warning' %> |
<%= link_to 'Назад', trains_path, class: 'btn-sm btn-default' %>
