<p id="notice"><%= notice %></p>

<p>
  <strong>Номер:</strong>
  <%= @train.number %>
</p>
<p>
  <strong>На станции:</strong>
  <% if @train.current_station.present? %>
      <%= @train.current_station.title %>
  <% else %>
      Не указано
  <% end %>
</p>
<p>
  <strong>На маршруте:</strong>
  <% if @train.route.present? %>
      <%= @train.route.name %>
  <% else %>
      Не указано
  <% end %>
</p>

<p>
  <% if @train.carriages.empty? %>
      У поезда нет вагонов
  <% else %>
      <%= render 'carriages/carriages', carriages: @train.carriages %>
  <% end %>
</p>

<%= link_to 'Изменить', edit_train_path(@train) %> |
<%= link_to 'Назад', trains_path %>
