<ul class="list-group">
  <p><li class="list"><%= link_to ' Поиск', search_path, class: 'btn btn-primary fa fa-search' %></li></p>
  <p><li class="list"><%= link_to ' Билеты', tickets_path, class: 'btn btn-primary fa fa-money' %></li></p>
  <p><li class="list"><%= link_to ' Пользователи', users_path, class: 'btn btn-primary fa fa-user' %></li></p>
  <p><li class="list"><%= link_to ' Список станций', railway_stations_path, class: 'btn btn-primary fa fa-university' %></li></p>
  <p><li class="list"><%= link_to ' Список поездов', trains_path, class: 'btn btn-primary fa fa-train' %></li></p>
  <p><li class="list"><%= link_to ' Список маршрутов', routes_path, class: 'btn btn-primary fa fa-map-marker' %></li></p>
</ul>







