<ul class="list-group up">
  <p><li class="list"><%= link_to ' Найти билет', search_path, class: 'btn btn-primary fa fa-search' %></li></p>
  <% if user_signed_in? %>
      <% if current_user.admin? %>
  <p><li class="list"><%= link_to ' Билеты', admin_tickets_path, class: 'btn btn-primary fa fa-money' %></li></p>
  <p><li class="list"><%= link_to ' Список станций', admin_railway_stations_path, class: 'btn btn-primary fa fa-university' %></li></p>
  <p><li class="list"><%= link_to ' Список поездов', admin_trains_path, class: 'btn btn-primary fa fa-train' %></li></p>
  <p><li class="list"><%= link_to ' Список маршрутов', admin_routes_path, class: 'btn btn-primary fa fa-map-marker' %></li></p>
          <% else %>
          <p><li class="list"><%= link_to ' Купленные билеты', tickets_path, class: 'btn btn-primary fa fa-money' %></li></p>
          <% end %>
  <% end %>
</ul>







