<h2>БИЛЕТ</h2>

<p>
  <strong>Номер:</strong>
  <%= @ticket.number %>
</p>

<p>
  <strong>Пользователь:</strong>
  <%= @ticket.user.first_name %>
</p>

<p>
  <strong>Поезд №:</strong>
  <%= @ticket.train.number %>
</p>

<p>
  <strong>Начальная станция:</strong>
  <%= @ticket.start_station.present? %>
</p>

<p>
  <strong>Конечная станция:</strong>
  <%= @ticket.end_station.present? %>
</p>

<p>
  <strong>ФИО пассажира:</strong>
  <%= @ticket.passenger_name %>
</p>

<p>
  <strong>Документ пассажира:</strong>
  <%= @ticket.document %>
</p>