<table class="table bg-info text_input">
  <thead>
  <tr>
    <th>Вагон №</th>
    <th>Тип</th>
    <th>Кол-во мест: верхних</th>
    <th>Кол-во мест: нижних</th>
  </tr>
  </thead>
  <tbody>
  <% carriages.each do |carriage| %>
      <tr>
        <th scope="row">
          <%= carriage.number %>
        </th>
        <td>
          <%= carriage.type %>
        </td>
      </tr>
  <% end %>
  </tbody>
  <% if @carriage.has_seats?(:top_seats) %>
      <p>
        <strong>Верхних мест:</strong>
        <%= @carriage.top_seats %>
      </p>
  <% end %>

  <% if @carriage.has_seats?(:bottom_seats) %>
      <p>
        <strong>Нижних мест:</strong>
        <%= @carriage.bottom_seats %>
      </p>
  <% end %>

  <% if @carriage.has_seats?(:side_top_seats) %>
      <p>
        <strong>Боковых верхних мест:</strong>
        <%= @carriage.side_top_seats %>
      </p>
  <% end %>

  <% if @carriage.has_seats?(:side_bottom_seats) %>
      <p>
        <strong>Боковых нижних мест:</strong>
        <%= @carriage.side_bottom_seats %>
      </p>
  <% end %>

  <% if @carriage.has_seats?(:seats) %>
      <p>
        <strong>Сидячих мест:</strong>
        <%= @carriage.seats %>
      </p>
  <% end %>
</table>