<% new_record = carriage.new_record? %>
<%= form_for new_record ? [train, carriage] : carriage do |f| %>
    <%= render 'common/errors', resource: carriage %>

    <% if new_record %>
        <div class="field text_input">
          <%= f.label :type, 'Тип вагона' %>
          <%= f.select :type, ['CupeCarriage', 'PlatcCarriage', 'SeatsCarriage', 'UpholsteredCarriage'] %>
        </div>
    <% end %>

    <% if new_record || ['CupeCarriage', 'PlatcCarriage', 'UpholsteredCarriage'].include?(carriage.type) %>
        <% if new_record || carriage.type != 'UpholsteredCarriage' %>

            <div class="field text_input">
              <%= f.label :top_seats, 'Количество верхних мест' %>
              <%= f.text_field :top_seats %>
            </div>
        <% end %>
        <div class="field text_input">
          <%= f.label :bottom_seats, 'Количество нижних мест' %>
          <%= f.text_field :bottom_seats %>
        </div>
        <% if new_record || carriage.type == 'PlatcCarriage' %>
            <div class="field text_input">
              <%= f.label :side_top_seats, 'Количество верхних боковых мест' %>
              <%= f.text_field :side_top_seats %>
            </div>
            <div class="field text_input">
              <%= f.label :side_bottom_seats, 'Количество нижних боковых мест' %>
              <%= f.text_field :side_bottom_seats %>
            </div>
        <% end %>
    <% end %>
    <% if new_record || carriage.type == 'SeatsCarriage' %>
        <div class="field text_input">
          <%= f.label :seats, 'Количество сидячих мест' %>
          <%= f.text_field :seats %>
        </div>
    <% end %>
    <div class="actions">
      <%= f.submit "#{new_record ? 'Создать' : 'Изменить'}", class: 'btn btn-success' %>
    </div>
<% end %>

