<div class="row">
  <div class="col-md-8">
    <div class="panel panel-info">
      <div class="panel-heading text-center">
        <h2><strong>Войти</strong></h2>
      </div>
    </div>
    <div class="jumbotron well text_input">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
          <div class="form-group">
            <%= f.label :email, 'Email' %>
            <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: "Email" %>
          </div>

          <div class="form-group">
            <%= f.label :password, 'Пароль' %>
            <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: "Password" %>
          </div>

          <% if devise_mapping.rememberable? -%>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
          <% end -%>
          <div class="row">
            <div class="container">
              <div class="col-md-5">
                <%= render "devise/shared/links" %>
              </div>

              <div class="col-md-4 text-right">
                <button type="submit" class="btn btn-lg btn-success fa fa-sign-in"> Войти</button>
              </div>
            </div>
          </div>
      <% end %>
      </form>
    </div>
  </div>
</div>
