<p id="notice"><%= notice %></p>
<p>
  <strong>Номер вагона:</strong>
  <%= @carriage.number ? @carriage.number : 'не указан' %>
</p>

<p>
  <strong>Тип вагона:</strong>
  <%= @carriage.type %>
</p>
<p>
  <strong>Поезд № </strong>
  <%= @carriage.train ? @carriage.train.number : 'не указан' %>
</p>
<p>
  <%= render @carriage.type.downcase.to_s %>
</p>

<%= link_to 'Изменить', edit_carriage_path(@carriage), class: 'btn btn-warning' %> |
<%= link_to 'Назад', @carriage.train, class: 'btn-sm btn-default' %>

