<tr>
  <td>
    <div id="train_number_<%= train.id %>">
      <h4><%= train.number %></h4>
    </div>
    <%= render 'inline_form', train: train, hidden: true %>
  </td>
  <td><%= link_to 'Показать', [:admin, train], class: 'btn-sm btn btn-info' %></td>
  <td><%= link_to 'Изменить', edit_admin_train_path(train), class: 'edit_train btn-sm btn btn-warning', data: {train_id: train.id} %></td>
  <td><%= link_to 'Удалить', [:admin, train], class: 'btn-sm btn btn-danger', method: :delete, data: {confirm: 'Вы уверены?'} %></td>
</tr>